<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
<table>
  <tr>
    <td>
<a href="registr">Registration</a>
    </td>
    </tr>
    <tr>
      <td>
<a href="login">Sing in</a>
      </td>
    </tr>
</body>
</html>
