<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
<p><%=title%></p>
<section class="insert">
    <form action="/userpage" method="post">

        <div class="input">
            <label for="username">Username</label>
            <input type="text" id="content" name="username">
        </div>
        <div class="input">
            <label for="content">Password</label>
            <input type="password" id="content" name="password1">
        </div>
        <button type="submit">Send</button>
    </form>
    <a href="registr">Registration</a>
</section>
<h1>
</body>
</html>
