<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
<section class="insert">
    <form action="/login" method="post">
        <div class="input">
            <label for="name">Name</label>
            <input type="text" id="title" name="name" required>


            <label for="content">Surname</label>
            <input type="text" id="content" name="surname" required>

                <label for="content">Age</label>
            <input type="text" id="content" name="age" required>


            <label for="content">Mail</label>
            <input type="text" id="content" name="mail" required>


            <label for="content">Password</label>
            <input type="password" id="content" name="password" required>
        </div>
        <button type="submit">Send</button>
    </form>
</section>
<h1>
</body>
</html>
